<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>О сайте</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
<h1>О сайте</h1>
<div class="container"></div>
<span>
        На этом сайте Вы можете создать пароль.<br>
    Для этого достаточно выбрать длину пароля,<br>
    и из набора каких символов он должен состоять.<br>
    Так же можно выбрать количество генерируемых<br>
    паролей, по умолчанию генерируется 5 паролей.<br>
</span><br>
</div>
<a href="{% url 'home' %}">Домой</a>
</body>
</html>